/* General styles from other pages */
*{
    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    
}

body{
    display: flex;
}

header {
    background: #0C3B35;
    width: 18%;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 20px;
}

header h1 {
    font-size: 22px;
    margin-bottom: 30px;
}

.header-links ul {
    list-style: none;
    padding: 0;
}

.header-links a {
    display: block;
    padding: 12px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 12px;
    transition: background 0.2s;
}

.header-links a:hover {
    background: #007BFF;
    text-decoration: none;
}

.content {
    margin-left: 20%;
    padding: 30px;
    width: 80%;
}

.content-description h1 {
    font-size: 22px;
    margin-bottom: 15px;
}

.content-description p {
    font-size: 14px;
    opacity: 0.7;
}

.logout-button{
    position: absolute;
    bottom: 10%;
    background-color: #525252;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.logout-button:hover{
    background-color: #007BFF;
    transition: .2s;
    transform: scale(1.1);

}

/* Form styles */

#create-order-form{
    margin-top: 10px;
}
#create-order-form .form-row {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    
}

#create-order-form select,
#create-order-form input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    min-width: 200px;
}

#create-order-form button {
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 4%;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

#create-order-form button:hover {
    background-color: #0056b3;
}

/* Table styles */
.table-container {
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 15px;
    margin-bottom: 40px;
    overflow-x: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table th, table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
table th {
    background: #f4f4f4;
    font-size: 14px;
}
table td {
    font-size: 13px;
}
table tr:hover td {
    background: #f9f9f9;
}

.confirm-button{
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-button:hover{
    background-color: #0056b3;
}